OPENAI_API_KEY=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
GROQ_API_KEY=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